@media (max-width: 992px) {
    .footer-content{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .footer__nav{
        order: 1;
        flex-basis: 100%;
        margin: 0 auto;
        ul{
            justify-content:space-between;
        }

    }
    .footer__logo-group{
        order: 2;
        img{
            margin: 18px;
        }
    }
    .footer__socialnetworks{
        align-self: flex-end;
        order: 3;
        img{
            max-height: 64px;
            max-width: 64px;
        }
    }

}